<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div>
      <header class="clearfix">
        <div class="right fixed right-0 top-0 header-background">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% assign pages = (site.pages | where: "layout" , "page")  ) | sort:"title" %}
            {% for my_page in pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="#{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}

            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
              ---
            </li>

            {% assign metapages = (site.pages | where: "layout" , "meta")  ) | sort:"title" %}
            {% for my_page in metapages %}
              {% if my_page.title %}
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
              <a class="italic no-underline h4 font-smoothing" href="#{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
            </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>
        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>
          <div class="clearfix mb-4 py-1">
            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>
        </div>
      </header>
      <div class="container mx-auto px-2 py-2">
        {% for my_page in pages  %}
        <div class="py-2 mb-2 prose">
          <h2 id="{{ my_page.url | relative_url }}" class="h1 lh-condensed col-9 mb-0">
            <a class="link-primary" href="#{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </h2>
          <p>{{ my_page.content | markdownify }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="container mx-auto px-2 py-2">
        {% for my_page in metapages  %}
        <div class="py-2 mb-2 prose">
          <h2 id="{{ my_page.url | relative_url }}" class="h1 lh-condensed col-9 mb-0">
            <a class="link-primary" href="#{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </h2>
          <p>{{ my_page.content | markdownify }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66155927-7', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
